
/*=== Aplicando CSS de forma Global===*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img,video{
    width: 100%;
}


html{
    font-size: 10px;  /*Por defecto la base es 16px*/
}
body{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/*=== Aplicando CSS al encabezado===*/
#encabezado{
    display: grid;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgba(255,255,255,0.95);
    z-index: 1000 ;
}
#opciones{
    justify-content: space-around;   
}

ul#opciones li a{
    font-size: 1.8rem;
    color: black;
    position: relative;   
}

ul#opciones li a::after{
    content: '';
    width: 0%;
    background-color: blue;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: all 0.9s;
}

ul#opciones li a:hover::after{
    width: 100%;
}

ul#opciones li a:hover{
    color: blue;
}

#logo{
    width: 50%;
    margin-left: 10px;
    padding-top: 10px;
}
#menu{
    text-align: center;
    margin-right: 15px;
}


/*=== Aplicando CSS al banner===*/
#banner{
    position: relative;
}

#subtituloBanner{
    position: absolute;
    top: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: white;
    background-color: rgba(0,0,0, 0.6);
    padding: 20px;
    width: 100%;
    text-align: center;
}

#imgAlumnos{
    width: 60%;
}

section table{
    width: 100%;
    padding: 10px;   
    position: relative; 
    
}

.titulo{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: white;
    background-color: rgba(0,0,0, 0.6);
    padding: 20px;
    width: 100%;
    text-align: left;
}

#resaltar{
    font-size: 4rem;
}
#contacto{
    font-size: 3.5rem ;
}
#redes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

@media (min-width: 360px) {
    
    #encabezado{
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }
    #opciones{
        display: grid;
        grid-template-columns: repeat(4,2fr);    
    } 
    #secciones{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*APLIANDO CSS AL FOOTER*/
    #piePagina{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 0.5fr;
        justify-items: center;
        align-items: center;
        background-color: darkgrey;
        color: white;
    }
    #redeSociales{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    ion-icon{
        color: white;
        font-size: 2rem;
    }
}

@media (min-width: 768px) {

    #encabezado{
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }
    #opciones{
        display: grid;
        grid-template-columns: repeat(4,2fr);  
    }
    #secciones{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
    /*APLIANDO CSS AL FOOTER*/
    #piePagina{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 0.5fr;
        justify-items: center;
        align-items: center;
        background-color: darkgrey;
        color: white;
    }
    #redeSociales{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    ion-icon{
        color: white;
        font-size: 2rem;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
}